@import "compass/css3"

//Importar Fuentes
@import url(https://fonts.googleapis.com/css?family=Montserrat)

/***************************************************************************************/
/**-------------------------- VARIABLES ---------------------------------------------**/
/***************************************************************************************/

$gray_color        : #D8DADE
$gray_text         : #6B6C71
$gray_fondos       : #3A3A3A

$orange_constructec: #FF8729


/***************************************************************************************/
/**-------------------------- RESET --------------------------------------------------**/
/***************************************************************************************/

body,html
	font-size: 16px
	width    : 100% 

/***************************************************************************************/
/**-------------------------- KEYFRAMES  ---------------------------------------------**/
/***************************************************************************************/

//EXPAND
+keyframes( expand )
	0% 
		+scale( 1 ) 
	100%
		+scale( 1.3 )

//CONTRACT
+keyframes( contract )
	0% 
		+scale( 1.5 ) 
	100%
		+scale( 1 )

//PULSE
+keyframes( pulse )
	0%
		left: -5px 
	50%
		left: 0
	100%
		left: -5px

//LEFT TO RIGHT
+keyframes( left-to-right )
	0%
		+transform( scale(2) translateX( 0% ) )	
	33%
		+transform( scale(2) translateX( -15% ) )	
	66%
		+transform( scale(2) translateX( 15% ) )	
	100% 
		+transform( scale(2) translateX( 0% ) )

/***************************************************************************************/
/**-------------------------- SECCIONES EN COMUN -------------------------------------**/
/***************************************************************************************/


/*°|| =================> EFECTOS Y  ANIMACION */
.box-expand
	animation: expand 10s ease 
.box-contract
	animation: contract 10s ease
//variacion
.box-contract--fast
	animation: contract 900ms ease

//Posicion relativa
/*°|| =================> POSICION RELATIVA */
.relative
	position: relative
.flex
	display: flex

//Contenedor con display flex
.container-flex
	display        : flex
	flex-wrap      : wrap 
	justify-content: center
	padding        : 0 !important

.container-flex-center
	align-items: center 
.container--content-flex-center
	align-content: center 

/*°|| ================>> BOTONES */
//boton ver mas 
.btn__show-more 
	background : $gray_fondos
	color      : white 
	display    : inline-block
	font-size  : 15px 
	line-height: 1em 
	padding    : 10px 20px 
	+transition( all 500ms ease )
	&:hover, &:focus
		color          : white  
		text-decoration: none 
	&:hover 
		+scale( 1.2 )

/*°|| =============>> SUBTITULOS COMUNES */
.sectionCommon__subtitle
	color    : $gray_fondos
	display  : inline-block
	font-size: 23px
	position : relative 
	//before
	&:before 
		background: $orange_constructec
		bottom    : -4px 
		content   : ''
		height    : 2px 
		left      : 0 
		margin    : 3px auto 0 
		position  : absolute
		right     : 60%

//variacion a color blanco
.sectionCommon__subtitle--white
	color: white 
	&:before 
		background: white 

//variacion a color naranja
.sectionCommon__subtitle--orange
	color: $orange_constructec

/*°|| ================>> FLECHAS DE CAROUSEL */
.arrow-carousel-common
	align-items    : center
	background     : $gray_fondos
	color          : white 
	display        : flex
	height         : 36px 
	justify-content: center 
	position       : absolute
	width          : 36px
	+transition( all 200ms ease-in-out )
	//hover 
	&:hover, &:focus
		color          : white 
		text-decoration: none 
	&:hover
		+opacity( 0.9 )
		//icono pulse
		i 
			animation: pulse 1s linear infinite
	//icono
	i 
		position: relative

/*°|| ================>> BANNER SERVICIO */
.sectionCommonBanner__services
	background : $orange_constructec
	color      : white 
	display    : flex
	flex-wrap  : wrap 
	font-family: 'Montserrat', sans-serif
	padding    : 24px 0
	//parrafo
	p 
		display: inline-block
		margin : 0 20px

/*°|| ================>> SECCION Y CAROUSEL CLIENTES */
.pageCommon__clientes
	margin: 60px auto 46px
.pageCommon__clientes__carousel

/*°|| ================>> BANNERS DE CADA PÁGINA */
.pageCommon__banner
	figure 
		margin: 0 auto
.pageCommon__banner__title
	color          : white
	position       : absolute
	top            : 0
	display        : flex
	align-items    : center
	left           : 0
	right          : 0
	bottom         : 0
	justify-content: center
	color          : white
	font-size      : 25px
	//strong 
	strong 
		position: relative
		//before
		&:before 
			background: $orange_constructec
			bottom    : -4px 
			content   : ''
			height    : 2px 
			left      : 0 
			position  : absolute
			right     : 40%


/***************************************************************************************/
/**-------------------------- HEADER   -----------------------------------------------**/
/***************************************************************************************/

//°| ========= >> header
.mainHeader
	padding: 0

//| ° =========>> REDES SOCIALES EN EL HEADER - section
.mainHeader__social-link
	background: $gray_color
	padding   : 4px 0
	ul
		margin    : 0 auto 
		padding   : 0 
		text-align: right 
		li 
			color    : $gray_text
			display  : inline-block
			font-size: 14px
			padding  : 0 5px 
			a 
				color          : $gray_text
				display        : block
				font-size      : 18px 
				text-decoration: none
				+transition( all 500ms ease )
				//hover
				&:hover 
					+opacity( 0.9 )
					+rotateY( 360deg )

//|° ==========>> Contenido Principal Header
.mainHeader__content
	padding: 16px 0
//articulo
.mainHeader__content__article
	align-items: center
	display    : flex
	flex-wrap  : wrap
	font-size  : 14px
	font-weight: 700
	line-height: 1.3em
	margin     : 0
	//iconos
	i 
		align-items    : center
		border         : 2px solid
		color          : $orange_constructec
		display        : inline-flex
		font-size      : 20px
		height         : 40px
		justify-content: center
		margin         : 0 16px 0 0
		width          : 40px

/***************************************************************************************/
/**-------------------------- NAVIGATION----------------------------------------------**/
/***************************************************************************************/

//°|=============>> navegacion principal
.mainNavigation
	position: relative
	z-index : 99999
	ul
		margin : 0 auto
		padding: 0 
		//todos los links
		a 
			background     : $orange_constructec
			color          : black 
			display        : block 
			margin         : 0 -3px 
			padding        : 14px 
			text-decoration: none
			text-transform : uppercase 
			+transition( all 500ms ease )
		//main menu
		&.main-menu
			text-align: center 
			li 
				display : inline-block 
				position: relative
				a 
					border-left: 1px solid white
				//primer hijo de la lista sin borde
				&:first-child
					a 
						border: none
				//active u hover
				&.current-menu-item, &.current_page_item ,&:hover,&.current-menu-ancestor,&.current-menu-parent
					a 
						color: white
				//only hover
				&:hover 
					.sub-menu
						top       : 100%
						visibility: visible
						+opacity( 1 )

		//submenu
		&.sub-menu 
			border-bottom: 4px solid $orange_constructec
			border-top   : 4px solid $orange_constructec
			left         : 0 
			margin       : 10px auto
			position     : absolute
			top          : 140%
			visibility   : hidden
			+opacity( 0 )
			+transition( all 500ms ease )

			li 
				display: block
				a 
					background: black
					border    : none 
					color     : white 
					font-size : 15px 
					margin    : 0 auto 
					padding   : 7px 14px 
				//hover
				&.current-menu-item, &.current_page_item ,&:hover 
					a 
						background: white 
						color     : black 


/***************************************************************************************/
/**-------------------------- PAGINA DE INICIO PORTADA -------------------------------**/
/***************************************************************************************/

/* ------------- CAROUSEL INICIO --------------------------- */
.pageInicio__slider
	margin : -52px auto 0
	//contanedor wrapper
	.carousel-inner
		.carousel-item
			overflow: hidden
			//Informacion o caption del slider
			.carousel-caption
				font-family: 'Montserrat', sans-serif
				padding    : 0
				top        : 25%
				//Titulos 
				h3 
					border-bottom: 1px solid white 
					display      : inline-block
					margin       : 0 auto 35px  
					padding      : 0 5px
				//parrafo
				p 
					font-size     : 60px
					font-weight   : 600
					letter-spacing: -2px
					line-height   : 1em
					margin        : 0 auto 
					position      : relative
	//Flechas del Carousel
	.arrowCarouselHome
		align-items    : center
		background     : black 
		display        : flex 
		height         : 33px
		justify-content: center
		position       : absolute 
		text-decoration: none 
		top            : 50%
		width          : 33px
		+transition( all 500ms ease )
		//hover 
		&:hover
			+scale( 1.2 )
			+opacity( 0.8 )
		//icono
		i
			color: white

	//Flecha izquierda
	.arrowCarouselHome--left
		left: 3%
	//Flecha derecha
	.arrowCarouselHome--right
		right: 3%

/* ------------- SECCION DE SERVICIOS - INICIO ------------- */
.pageInicio__services
	background: white 
	position  : relative
	//before
	&:before 
		background: $gray_fondos
		bottom    : 0
		content   : ''
		height    : 50%
		left      : 0
		position  : absolute
		right     : 0 
		z-index   : 999

	//Contenedor principal
	.pageInicio__services__content
		font-family: 'Montserrat', sans-serif
		margin     : 27px 0 
		position   : relative
		z-index    : 99999

//Carousel
.pageInicio__services__carousel
	margin: 12px auto 0
	//link
	a 
		text-decoration: none
	//imagen
	figure 
		overflow: hidden
		img 
			+transition( all 500ms ease-in-out )
		//hover 
		&:hover 
			img 
				+scale( 1.2 )
	//titulos
	.item-title
		color     : white
		font-size : 16px
		text-align: center

//flechas del carousel
.arrow-carousel-service
	right          : 0
	top            : 0

//flecha izquierda
.arrow-carousel-service--left
	right: 38px

/* ------------- SECCION DE BIENVENIDA - INICIO ------------- */
.pageInicio__welcome
	background: 100% 100%
	background: url("../images/pages/inicio/banner_nosotros.jpg") no-repeat
	color     : white
	padding   : 30px 0 

	//imagen
	figure 
		margin   : 0 auto 
		max-width: 244px 
		width    : 100%

/* ------------- SECCION MISCELANEO   - INICIO ------------- */
.pageInicio__miscelaneo
	margin: 29px auto 

	//seccion contenedora facebook
	.pageInicio__miscelaneo__facebook
		.fb-page
			border: 5px solid black

/* ------------- SECCION DE PROJECTOS - INICIO ------------- */
.pageInicio__projects

//Carousel 
.pageInicio__projects__carousel
	//articulo
	.item-carousel-project
		//imkagen 
		figure 
			margin: 0 auto 
	//titulo
	.item-carousel-project__title
		background : $orange_constructec
		color      : white
		font-size  : 16px 
		font-weight: 600 
		line-height: 1rem 
		margin     : 0 auto   
		padding    : 10px 16px 

//flechas de carousel
.arrow-carousel-project
	bottom : 0 
	right  : 0 
	z-index: 999
//flecha izquierda
.arrow-carousel-project--left
	right: 38px

/***************************************************************************************/
/**----------------------------------- PAGINA EMPRESA  -------------------------------**/
/***************************************************************************************/

//primera seccion informacion
.pageEmpresa__content
	margin: 60px auto 0
	//parrafos
	p 
		font-size: 15px
//subtitulos 
.pageEmpresa__subtitle
	margin: 0 auto 27px
//galeria empresa.
.pageEmpresa__gallery
	max-width: 407px
	width    : 100%
	margin   : 0 auto 
	//controles del carousel
	.owl-controls
		bottom    : 0
		left      : 0
		position  : absolute
		right     : 0
		text-align: center
		//dots
		.owl-dot
			background   : white
			border-radius: 50%
			display      : inline-block
			height       : 15px
			margin       : 0 4px 
			width        : 15px
		//active
		.active 
			background: $orange_constructec


//segunda seccion mision y vision
.pageEmpresa__mision
	margin: 46px auto
.pageEmpresa__mision__content
	background     : url("../images/pages/empresa/empresa_baner-vision.jpg") no-repeat
	background-size: cover
	color          : white 
	padding        : 42px 42px 42px 35%
	//subtitulos interiores
	.pageEmpresa__title
		border-bottom: 1px solid 
		display      : inline-block
		font-size    : 25px 
		font-weight  : 700
		padding      : 0 15px 0 0 
	//articulos 
	.article-box-information
		text-align: justify

/***************************************************************************************/
/**----------------------------------- PAGINA SERVICIO -------------------------------**/
/***************************************************************************************/

//seccion
.pageServicio
	margin: 72px auto 30px
//sidebar de lista de proyectos
.pageServicio__projects
//menu lista de proyectos
.pageServicio__projects__menu
	list-style-type: none 
	margin         : 12px auto 0 
	padding        : 0 
	li 
		a 
			background     : $gray_color
			color          : $gray_text
			display        : block 
			line-height    : 1em 
			margin         : 4px auto 
			padding        : 9px 17px 
			text-decoration: none 
			+transition( all 800ms ease  )
			+box-shadow( inset 0rem 0 0 0 transparent )
			//activo u hover
			&.active,&:hover 
				color     : white 
				+box-shadow( inset 500px 0 0 0 $orange_constructec )

//Articulo o contenido principal
.pageServicio__article
	//contenido 
	.pageServicio__article__text
		margin: 20px auto 
	//flechas del carousel
	.arrow-carousel-page-service
		bottom : 44px
		right  : 0
		z-index: 999
	//flecha izquierda
	.arrow-carousel-page-service--left
		right: 40px

//Galería Carousel
.pageServicio__gallery
	margin: 36px auto 0
	//parrafo
	.item__content
		background: black
		bottom    : 0
		color     : white
		margin    : 10px auto 0
		padding   : 5px 10px
		z-index   : 999999

/***************************************************************************************/
/**------------------------------ PAGINA MANTENIMIENTO -------------------------------**/
/***************************************************************************************/

//section
.pageMantenimiento
	margin: 66px auto
//contenido - texto
.pageMantenimiento__content
	margin: 35px auto 0
//imagen 
.pageMantenimiento__content__image
	margin: 30px auto 0

/***************************************************************************************/
/**------------------------------ PAGINA BLOG -------------------------------**/
/***************************************************************************************/

//section
.pageBlog
	margin: 66px auto 
//contenedor
.pageBlog__content
	border-right: 2px solid $gray_color
	padding     : 0 25px 0 0
//artículo
.pageBlog__content__article
	display        : flex
	justify-content: space-between
	margin         : 9px auto
	//imagen
	figure 
		overflow: hidden
		width   : 49%
		img 
			+scale( 1 )
			+transition( all 500ms cubic-bezier( 0 , 1 ,1 , 1 ) )
			position: relative
	//hover
	&:hover 
		figure 
			img 
				animation: left-to-right 16s ease-in infinite

	//texto
	.pageBlog__content__article__text
		text-align: justify
		width     : 49%
	//botón ver más
	.btn__show-more-post
		background     : $orange_constructec
		color          : white 
		display        : inline-block
		font-size      : 13px 
		line-height    : 1rem  
		margin         : 8px auto 0 
		padding        : 6px 15px 
		text-decoration: none
		+box-shadow( inset 0 0 0 0 $orange_constructec )
		+transition( all 500ms ease )
		//hover
		&:hover 
			+box-shadow( inset -100px 0 0 0 black )
			color: $orange_constructec

//PAGINA DE ARTICULO - SINGLE
.pageBlog__article
	margin: 66px auto
//imagen del artículo
.pageArticle__image
	border: 3px solid black
	margin: 15px auto 20px
//sidebar de post
.pageArticle__sidebar__categories
	//menu de categorias 
	.menu-categories
		list-style-type: none
		margin         : 15px auto 30px
		padding        : 0 
		li 
			a 
				background     : black
				border         : 2px solid transparent 
				color          : white 		
				display        : block
				margin         : 0 auto 5px 
				padding        : 5px 15px 
				text-decoration: none 
				+transition( border 400ms ease , color 400ms ease , box-shadow 300ms ease  )
				+box-shadow( inset 0 0 0 0 black )
				//hover 
				&.active, &:hover 
					+box-shadow( inset 400px 0 0 0 $orange_constructec )
					color : black
					border: 2px solid black 

/***************************************************************************************/
/**----------------------------  PAGINA GALERIA --------------------------------------**/
/***************************************************************************************/

.pageGallery 
	margin: 94px auto 
//item
.pageGallery__item
	margin  : 0 auto 27px
	overflow: hidden
	//enlace 
	a 
		//imagen
		img 
			-webkit-backface-visibility: hidden
			-moz-backface-visibility   : hidden
			backface-visibility        : hidden
			+transform( translateZ(0) scale( 1.0 ) )
			+transition( all 500ms ease )
		//titulo
		.pageGallery__item__title
			+opacity( 0 )
			+transition( all 500ms ease )
			align-items: center
			background : rgba( 0,0,0,.5)
			bottom     : 0
			color      : white 
			cursor     : pointer 
			font-size  : 22px
			left       : 0
			position   : absolute
			right      : 0
			top        : 0
		//hover 
		&:hover 
			img 
				+scale( 1.3 )
			.pageGallery__item__title
				+opacity( 1 )

/***************************************************************************************/
/**----------------------------  PAGINA CONTACTO  -----------------------------------**/
/***************************************************************************************/
.pageContacto
	margin: 62px auto 
//lista de informacion -ul 
.pageContacto__menu-contacto
	list-style-type: none 
	margin         : 0 auto 122px
	padding        : 0 
	li
		margin: 0 auto 16px
		//color variacion
		&.item--orange
			color: $orange_constructec 
		i 
			color     : $orange_constructec
			font-size : 20px 
			height    : 20px 
			margin    : 0 17px 0 0
			text-align: center
			width     : 20px 
//redes sociales 
.pageContacto__social-link
	list-style-type: none
	margin         : 0 auto 
	padding        : 0 
	li 
		display: inline-block
		padding: 0 18px 0 0
		a 
			color    : $orange_constructec
			font-size: 24px 

//Formulario de Contacto
.pageContacto__form
	form 
		margin: 39px auto 0
//grupos d formulario
.pageContacto__form__group
	margin: 0 auto 20px
	input , textarea 
		border : 1px solid rgba( 0,0,0,.3 )
		padding: 5px 10px 
		width  : 100%
	textarea
		height: 110px
	//boton enviar formulario
	.btn__send-form
		background: $orange_constructec
		border    : none 
		color     : white
		padding   : 8px 20px 
//mapa
#canvas-map
	height: 346px 
	width : 100%

	
/***************************************************************************************/
/**----------------------------    FOOTER  -------------------------------------------**/
/***************************************************************************************/

.mainFooter
	background : $gray_fondos
	color      : white 
	font-family: Arial,sans-serif
	padding    : 34px 0 0 0

//clase contenedora
.mainFooter__content
	border-right: 1px solid $gray_color
	//parrafos 
	p 
		font-size  : 14px
		margin     : 0 auto 
		padding    : 0 15% 0 0
		text-align : justify

	//MENUS EN EL FOOTER 
	ul 
		list-style-type: none
		margin         : 0 auto 
		padding        : 0 
		//redes sociales - ul 
		&.mainFooter__social-link
			//li 
			li 
				color         : $gray_color
				display       : inline-block
				padding       : 0 24px 0 0
				vertical-align: middle 
				&:last-child
					padding: 0
				//links -a 
				a 
					color    : $gray_color
					display  : block 
					font-size: 20px
					//icon
					i 
						position: relative
					//hover 
					&:hover 
						i 
							animation: pulse 1s linear infinite
		
		//menu contacto
		&.mainFooter__menu-contacto
			li 
				font-size: 14px 
				margin   : 0 auto 14px
				//icono 
				i 
					font-size : 18px 
					margin    : 0 14px 0 0
					text-align: center 
					width     : 18px 

//variacion clase contenedora
.mainFooter__content--no-border
	border: none

//titulos
.mainFooter__content__title
	border-bottom: 2px solid $orange_constructec
	display      : inline-block
	font-family  : 'Montserrat', sans-serif
	font-size    : 20px
	margin       : 0 auto 22px 
	padding      : 0 0 10px 

//Seccion de desarrollo
.mainFooter__developer
	background: $orange_constructec
	margin    : 40px auto 0
	padding   : 25px 0 10px 
